<h3>
    <a class="btn btn-secondary" href="/product">
        <i class="fa fa-plus"></i>
        Add New Product
    </a>
    Product List
</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Brand</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{ this.name }}</td>
            <td>{{ this.category }}</td>
            <td>{{ this.brand }}</td>
            <td>
                <a href="/product/{{ this._id }}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/product/delete/{{ this._id }}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
